* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter',
        sans-serif;
    font-size: 10px;
}

.navigation {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #21222A;
    padding: 20px;
}

.navigation img {
    width: 50px;
    padding: 5px;
}

.navigation h1 {
    font-size: 4em;
    margin-right: auto;
    color: #61DAFB;
}

.navigation h3 {
    color: #DEEBF8;
    font-size: 2.5em;
}

.main-container {
    margin: 30px;
}

.main-container h1 {
    font-size: 4em;
    font-weight: 700;
    margin: 20px 0;
}

.main-container ul {
    list-style-type: none;
}

.main-container ul li::before {
    content: "\2022";
    color: #61DAFB;
    font-weight: bold;
    display: inline-block;
    width: 1em;
    margin-left: -1em;
}

.main-container li {
    font-size: 1.9em;
    margin: 30px;
}

@media screen and (max-width:550px) {
    .navigation h1 {
        font-size: 2em;
    }

    .navigation h3 {
        font-size: 1.5em;
    }

    .main-container h1 {
        font-size: 3em;
    }
}