* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'DM Sans',
        sans-serif;
    font-size: 16px;
}

.travels {
    margin: 20px;
}

a {
    font-size: 11px;
    color: #918E9B;
    white-space: nowrap;
}

.container {
    height: 100%;
}

.navigation {
    background: #F55A5A;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 55px;
}

.navigation p {
    padding: 10px;
    color: rgb(255, 255, 255);
    font-size: .9375rem;
    font-weight: 700;
}

.travel-container {
    display: flex;
    padding: 10px;
    align-items: center;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.travel-image {
    min-width: 125px;
    height: 168px;
}

.travel-image img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    margin: auto;
}

.travel-info {
    padding: 20px;
}

.travel-country {
    display: flex;
    align-items: center;
}

.travel-country span:nth-child(2) {
    margin-left: 5px;
    text-transform: uppercase;
    letter-spacing: 2px;
    width: 100px;
}

.travel-country span:nth-child(3) {
    margin-left: 15px;
}

.travel-location h2 {
    font-size: 1.5625rem;
    width: 100%;
    margin-bottom: 5px;
    text-transform: capitalize;
}

.travel-dates span {
    font-size: .8125rem;
    font-weight: 600;
    text-transform: capitalize;
}

.travel-description {
    font-size: .64rem;
    width: 100%;
    font-weight: 400;
}