* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter',
        sans-serif;
    font-size: 16px;
}

.container {
    display: flex;
    align-items: center;
    height: 100%;
    flex-direction: column;
    background: rgb(35, 37, 44);
    padding: 50px 0;
}

.top-photo {
    overflow: hidden;
    height: 350px;
    width: 350px;
}

.top-photo img {
    max-width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.main-container {
    background: #1A1B21;
    padding: 5px 0 20px 0;
}

.sample-text {
    margin: 10px 0px;
}

.basic-info {
    width: 350px;
    text-align: center;
    padding: 20px;
}

.full-name {
    text-transform: capitalize;
    font-size: 1.8rem;
    margin-bottom: 3px;
    color: #FFFFFF;
}

.work-role {
    text-transform: capitalize;
    font-size: 1rem;
    margin: 10px 0 0 0;
    color: #F3BF99;
}

.website {
    font-size: 0.9rem;
    margin: 15px 0 25px 0;
    color: #F5F5F5;
}

.contact {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 350px;
}

.contact button {
    padding: 10px;
    width: 140px;
    border-radius: 10px;
    font-size: 1.1rem;
    outline: none;
    border: none;
    text-transform: capitalize;
    display: flex;
    align-items: center;
    justify-content: center;
}

.contact button:nth-child(2){
    background: #5093E2;
    color: #F5F5F5;
}

.contact button span{
    padding-right: 10px;
}

.about-container {
    width: 350px;
    padding: 20px;
}

.about-container .about-header {
    font-size: 1.5rem;
    text-transform: capitalize;
    color: #F5F5F5;
}

.about-container .about-paragraph {
    font-size: 0.9rem;
    margin-top: 5px;
    color: #DCDCDC;
}

footer {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 350px;
    height: 70px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    background: #161619;
}

footer div {
    padding: 10px;
}